@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
	font-size: 100%;
	font-size: 16px;
	line-height: 1.5;
	--primary-blue: #233975;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat','sans-serif';
	font-weight: 500;
}

h1{
	font-size: 2.2rem;
	font-weight: 700;
}
h2{
	font-size: 1.6rem;
	font-weight: 700;
}
a{
	text-decoration: none;
	color: var(--primary-blue);
}
a:hover{
	text-decoration: underline;
}

.text-error {
	color:red;
}

.small {
	font-size: 80%;
	text-align: center;
}
.split-screen {
	display: flex;
	flex-direction: column;
}

.left{
	height: 200px;
}

.left, .right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.left {
	background: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0)),
		url('https://blog.inlumi.com/hubfs/blog/task-manager.jpg');
	background-size: cover;

}

.left .copy {
	color: black;
	text-align: center;
	font-smoothing: grayscale;
	font-weight: 700;
}

.right .copy {
	color: black;
	text-align: center;
}

.right .copy p {
	margin: 1.5em 0;
	font-size: 0.85rem;
}

.right .form {
	width: 300px;
}

form input[type="text"],form input[type="email"],
form input[type="password"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #c4c4c4;
	padding: 1em;
	margin-bottom: 1.25rem;
	font-size: 0.87
}
label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 0.75em;
}

.frm-inpt.password {
	position: relative;
}
.frm-inpt.password span{
	position: absolute;
	top:42px;
	right: 16px;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 2rem;
	cursor: pointer;
	user-select: none;
	margin: 0 0 1.2rem 0;
}

.checkbox-container input:checked~.checkmark {
	background-color: var(--primary-blue);
	border: 1px solid var(--primary-blue);
}

.checkmark {
	position: absolute;
	width: 24px;
	height: 24px;
	background: white;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	top: -4px;
	left: 0;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


.checkbox-container input:checked~.checkmark:after {
	display: block;
}


.checkbox-container .checkmark:after {
	border: solid white;
	border-width: 0 3px 3px 0;
	width: 5px;
	height: 10px;
	left: 8px;
	top: 4px;
	transform: rotate(45deg);
}

.btn-submit {
	display: block;
	width: 100%;
	background-color: var(--primary-blue);
	color: white;
	font-weight: 600;
	font-size: .87rem;
	border-radius: 8px;
	border: 1px solid var(--primary-blue);
	/*right: 16px;
	/*text-transform: uppercase;*/
	/*latter-spacing: 0.5px;*/
	padding: 1rem;
	cursor: pointer;
}
.btn-submit:hover {
	color: var(--primary-blue);
	background-color: white;
}
.btn-fb {
	display: block;
	width: 100%;
	background-color: var(--primary-blue);
	color: white;
	font-weight: 600;
	font-size: .87rem;
	border-radius: 8px;
	border: 1px solid var(--primary-blue);
	/*right: 16px;
	/*text-transform: uppercase;*/
	/*latter-spacing: 0.5px;*/
	padding: 1rem;
	cursor: pointer;
} 







