@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
    --main-color: rgb(243, 158, 174);
}

body{
    /* overflow-y: hidden; */
    letter-spacing: .1em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(240,240,240); */
}
a {
    text-decoration: none;
    color: inherit;
}
.app {
    margin: 1em;
}

.menu {
    margin: 1em;
}
.menu span {
    font-size: 2em;
    cursor: pointer;
}

.heading {
    margin: 1em;
    font-size: 1.6em;
}

ul li {
    list-style: none;
}

.categoty ul {
    display: flex;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
}
.categoty ul li {
    /* min-width: 360px; */
    background-color: white;
    padding: 1.3em;
    border-radius: .4em;
    margin: 0 .6em 1.2em .6em;
    /* cursor: pointer; */
}

.categoty ul li:hover {
     box-shadow: 0 5px 12px rgba(0,0,0,0.25); 
}
.categoty ul li span {
    font-size: 3.5em;
}
.categoty ul li h4{
    font-weight: normal;
    font-size: 1.5em;
    margin-left: .2em;
    margin-bottom: 0;
}
.categoty ul li p {
    margin-left: .2em;
    margin-top: 0;
    color: rgb(122, 122, 122);
    font-size: .9em;
}

/* ##tobechange */
.categoty ul li.alltask span {
    color: rgb(87,134,255);
}
.categoty ul li.work span {
    color: rgb(253,186,119);
}
.categoty ul li.music span {
    color: rgb(248,145,128);
}
.categoty ul li.travel span {
    color: rgb(75,175,106);
}
.categoty ul li.study span {
    color: rgb(141,134,209);
}
.categoty ul li.home span {
    color: rgb(67,178,189);
}

.alltask {
    background: rgb(87,134,255);
}
.study {
    background:rgb(141,134,209);
}
.home {
    background:  rgb(67,178,189);
}
.work {
    background: rgb(253,186,119);
}
/* //add new button */

.addnew {
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 2em 2em 0;
    z-index: 99;
    padding: 1.8em 1.8em 1.5em 1.8em;
    background-color: rgb(87,134,255);
    border-radius: 50%;  
    box-shadow: 0 7px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.addnew span {
    font-size: 2em;
    color: white;
}

/* ********* For Todo list page */

.category {

    /* padding: 1em; */
    margin: 0;
    
}
.bg-primary{
    background: rgb(87,134,255); 
    color: white;
}
.category .container {
    padding: 1em 1em 0 1em;
}
.category .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1em 0;
}

.category .sub-heading {
    margin: 5em 2em 2em 2em;
}
.category .sub-heading h4 {
    font-size: 2em;
    margin: .5em 0 0 0;
}

.category .sub-heading p {

    margin: 0;
    font-weight: 300;
    font-size: 1em;
    opacity: .7;
}

.category .sub-heading span {
    font-size: 2em;
    background-color: white;
    color: rgb(87,134,255); 
    padding: .3em;
    border-radius: 50%;
}

.category .task-list {
    min-height: 70vh;
    background-color: white;
    color: black;
    padding: 2em;
    border-radius: 2.2em 2.2em 0 0;
}
.category .task-list .list-group {
    margin-bottom: 3em;
}
.category .task-list .title {
    padding: 1em 0 0 0;
    color:rgb(122, 122, 122);
    margin-bottom: .5em;
}

.category .task-list .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

/* .category .task-list .list:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} */

.category .task-list p {
    line-height: 1.3em;
    margin: .5em 0;
}

.category .task-list p.duedate {
    margin-top: 0;
    opacity: .6;
    font-size: .8em;
}

.category .task-list p.late {
    color: red;
}

/* .category .task-list */
.tag {
    font-size: .7em;
    color: white;
    padding: 0 .7em;
}

.mask{
    width: 100%;
    height: 20vh;
    z-index: 9;
    position: fixed;
    bottom: 0;
    opacity: .6;
    background: white;
    filter: blur(10px);
    /* background: black; */
}

.hide {
    display: none;
}

/* ********* For New Tasks */
.task-header {
    position: relative;
    margin: 1em 0 4em 0;
    font-size: 1.3em;
}

.task-header p {
    text-align: center;
}

.task-header .btnClose {
    font-size: .8em;
    position: absolute;
    top: 0px;
    right: 0px;
}

.task-body {
    margin: 1em;
}

.task-body p {
    opacity: .5;
    font-size: .8em;
}

.task-body textarea {
    width: 100%;
    border: none;
    border-bottom: solid 1px #ccc ;  /*rgb(#000, .8); */
    outline: none;
    background: inherit;
    resize: none;
    height: 120px;
    font-size: 1.7em;
    overflow-y: none;
    overflow:hidden;
    caret-color: rgb(87,134,255);
   
}

.task-body ul {
    margin-top:2em;
    padding: 0;

}
.task-body ul li {
    margin-bottom: 1em;
}
.task-body ul li a {
    font-size: 1em;
    display: flex;
    cursor: pointer;
    opacity: .7;
}
.task-body ul li a:hover {
    opacity: 1;
}
.task-body ul li a:hover span {
    color: rgb(87,134,255);
}
.task-body ul li a span {
    margin-right: 1em;
}

.saveTaskBtn button {
    font-size: 1em;
    letter-spacing: .2em;
    position: fixed;
    bottom: 0;
    padding: 1.2em 5em;
    cursor: pointer;
    text-align: center;
    width: 100%;
    border:none;
    background-color: rgb(87,134,255);
    color:white;
    display: block;
}


/* For view Task */
.view-item {
    float: right;
    color: black;
    opacity: .6;
}
.task-name {
    margin: 1em;
    margin-top: 3em;
    display: flex;
}
.task-name input{
    margin-right: 1em;
}